<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ConfigDone" value="NO"></add>
    <add key="SelectType" value=""></add>
    <add key="ServerName" value=""></add>
    <add key="UserName" value=""></add>
    <add key="Password" value=""></add>
    <add key="FTPLocalHost" value=""></add>
  </appSettings>
</configuration>